{% block content %}
    <br>
    <br>
    <br>
    <ul><b>Instructions</b>

            <li>
                Source : Airport code from where Journey will start.  Ex. For Ahmedabad put 'amd'
            </li>
            <li>
                Destination : Airport code of destination city. Ex. For Mumbai put 'bom'
            </li>
            <li>
                Pick a Date : Date in yyyy-m-d format Ex. '2018-6-19'
            </li>
            <li>
                Adults : Number of Adults passengers
            </li>
            <li>
                Children : Number of Non-Adult passengers
            </li>
            <li>
                JSON or Classic Web Response : Results in different views
            </li>
        </ul>
    {% block footer %}
        <br>
        <b>Developed by <a href="https://www.linkedin.com/in/pruthvi-shah-81291115b/">Prithvi Shah</a></b>
        <br>
        <footer>All is made with love for Python !!
            <br>
            <br>
        </footer>
    {% endblock footer %}
{% endblock content %}